.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.searchBar {
  align-self: center;
  padding: 20px;
  width: 75%;
}

.table {
  align-self: center;
  padding: 50px;
}
